:host ::ng-deep {
  .main-container {
    top: 0px !important;
  }
}

.menu-sidebar {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 24px;
    text-align: center;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .nav-item {
      padding: 8px;
      text-decoration: none;
      color: black;
      background-color: rgb(235, 235, 235);
      width: 100%;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      border: 1px solid rgb(197, 194, 194);
      border-radius: 10px;
    }
  }
}
