<nb-layout>
  <nb-sidebar>
    <div class="menu-sidebar">
      <h1 class="menu-sidebar__title">Task Manager</h1>
      <div class="menu-sidebar__nav">
        <a
          class="nav-item"
          routerLink="/tasks"
          routerLinkActive="nav-item--active"
        >
          Tasks
        </a>
        <a
          class="nav-item"
          routerLink="/users"
          routerLinkActive="nav-item--active"
        >
          Users
        </a>
      </div>
    </div>
  </nb-sidebar>

  <nb-layout-column class="colored-column-primary"
    ><router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
